### Python Assignmeent 1 
#### Task 1
1) Install Jupyter notebook and run the first program and share the screenshot of the output.

In [1]:
print("hello world")

hello world

2) Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [2]:
for i in range( 2000, 3201 ):
    if i % 7 == 0 and i % 5 == 0:
        print( i, end = "," )

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185,

3) Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name

In [3]:
fn = input("Enter first name")
ln = input("Enter last name")
print( fn[::-1], ln[::-1] )

Enter first nameprashant
Enter last namerakhewar
tnahsarp rawehkar

4) Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r
3

In [4]:
from math import pi
diameter = 12
V = 4/3*pi*diameter**3
print("volume of a sphere = ",V)

volume of a sphere =  7238.229473870882

#### Task 2
1) Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [6]:
str = input ("Enter comma separated numbers: ")

list = str.split (",")

li = []
for i in list:
	li.append(int(i))

print(li)

Enter comma separated numbers: 2,3,4,5,6
[2, 3, 4, 5, 6]

2) Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [7]:
for i in range(0, 5):
    for j in range(0, i+1):
        print("*", end=' ')
    print("\r")

for i in range(5, 0, -1):
    for j in range(0, i-1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

3) Write a Python program to reverse a word after accepting the input from the user.<br>
Sample Output:<br>
Input word: AcadGild<br>
Output: dilGdacA<br>

In [8]:
word = input("enter a word")
print(word[::-1])

enter a wordAcadGild
dliGdacA

4) Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens
Sample Output:
WE, THE PEOPLE OF INDIA,
having solemnly resolved to constitute India into a SOVEREIGN, !
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
and to secure to all its citizens

???? i didnt understand the question. there is no pattern for line change, share me answer.